<div class="container">
    <div class="container-title">TODOS</div>

    <div class="container-task">
        <input class="container-input"
               placeholder="What needs to be done?"
               (keydown.enter)="getTask($event.target.value)" />
        <ul>
            <li appShow
                *ngFor="let task of tasks; let i = index">
                <app-tasks [task]="task" (removeTask)="deleteTask($event)" (activeTask)="activeTask()"></app-tasks>
            </li>
        </ul>
    </div>
    <div>
        <div>{{itemsActive.length}} items</div>
        <button (click)="showAllTask()">All</button>
        <button (click)="showActiveTask()">Active</button>
        <button (click)="showCompletedTask()">Completed</button>
    </div>
</div>